/* 

  
<color name="primaryColor">#d84315</color>
<color name="primaryLightColor">#ff7543</color>
<color name="primaryDarkColor">#9f0000</color>
<color name="secondaryColor">#fff59d</color>
<color name="secondaryLightColor">#ffffcf</color>
<color name="secondaryDarkColor">#cbc26d</color>
<color name="primaryTextColor">#000000</color>
<color name="secondaryTextColor">#000000</color>

font-family: 'Slabo 27px', serif;
*/
body {
    background-color: #d84315;
    
}

h1, h2 {
    font-family: 'Slabo 27px', serif;
    text-align: center;

}

h1 {
    font-size: 60px;
}

li {
    display: inline-block;
    padding: 0;
    font-size: 30px;
}

nav {
    text-align: center;
    padding: 0px;
}

header li{
    margin: 0 5;
}

header li:first-of-type {
    margin-left: 0;
}

ul {
    padding: 0px;   
}